In [13]:
import pandas as pd
from scipy.stats import ttest_ind

In [14]:
data = pd.read_csv('Cobify_data_cleaned.csv') #load the data we produced
data.head()

,distance,consume,temp_inside,temp_outside,gas_type,ac,rain,sun,temp_diff,fuel_used,cost_of_trip,speed_in_hours,avg_speed
0,28.0,5.0,21.5,12,E10,0,0,0,9.5,1.4000,2.115,0.433333,64.615385
1,12.0,4.2,21.5,13,E10,0,0,0,8.5,0.5040,0.762,0.500000,24.000000
2,11.2,5.5,21.5,15,E10,0,0,0,6.5,0.6160,0.931,0.633333,17.684211
3,12.9,3.9,21.5,14,E10,0,0,0,7.5,0.5031,0.760,0.600000,21.500000
4,18.5,4.5,21.5,15,E10,0,0,0,6.5,0.8325,1.258,0.766667,24.130435

### First hypothesis testing, fuel_used

In [15]:
"""
Our null hypothesis is that: consumtion of sp98 and e10 is the same
IMPORTANT STEPS
----------------
1. H0: consumtion of sp98 and e10 is the same, H1 is not the same
2. significance= 0.05
3. sample
4/5. compute statistic, comptue p-value (python does both)
6.decide
"""

'\nOur null hypothesis is that: consumtion of sp98 and e10 is the same\nIMPORTANT STEPS\n----------------\n1. H0: consumtion of sp98 and e10 is the same, H1 is not the same\n2. significance= 0.05\n3. sample\n4/5. compute statistic, comptue p-value (python does both)\n6.decide\n'

In [16]:
"""
In statistics, t-test is used to test if two data samples have a significant difference between their means. There are two types of t-test:

Student's t-test (a.k.a. independent or uncorrelated t-test). This type of t-test is to compare the samples of two independent populations 
(e.g. test scores of students in two different classes). scipy provides the ttest_ind method to conduct student's t-test.

Paired t-test (a.k.a. dependent or correlated t-test). This type of t-test is to compare the samples of the same population (e.g. scores of 
different tests of students in the same class). scipy provides the ttest_re method to conduct paired t-test.

Both types of t-tests return a number which is called the p-value. If p-value is below 0.05, we can confidently declare the null-hypothesis is rejected and the difference is significant. If p-value is between 0.05 and 0.1, we may also declare the null-hypothesis is rejected but we are not highly confident. If p-value is above 0.1 we do not reject the null-hypothesis.
"""

"\nIn statistics, t-test is used to test if two data samples have a significant difference between their means. There are two types of t-test:\n\nStudent's t-test (a.k.a. independent or uncorrelated t-test). This type of t-test is to compare the samples of two independent populations \n(e.g. test scores of students in two different classes). scipy provides the ttest_ind method to conduct student's t-test.\n\nPaired t-test (a.k.a. dependent or correlated t-test). This type of t-test is to compare the samples of the same population (e.g. scores of \ndifferent tests of students in the same class). scipy provides the ttest_re method to conduct paired t-test.\n\nBoth types of t-tests return a number which is called the p-value. If p-value is below 0.05, we can confidently declare the null-hypothesis is rejected and the difference is significant. If p-value is between 0.05 and 0.1, we may also declare the null-hypothesis is rejected but we are not highly confident. If p-value is above 0.1 we do not reject the null-hypothesis.\n"

In [17]:
ttest_ind(data[data.gas_type == 'E10'].fuel_used,data[data.gas_type == 'SP98'].fuel_used)
##############################
#IF P IS LOW, THE NULL MUST GO
##############################
#if p-value is < our significant value (0.05 or the one choose) then we reject H0
#otherwise we accept the H0 the null hyphotesis

Ttest_indResult(statistic=1.089091767035112, pvalue=0.27679289437741406)

In [18]:
# The p-value of the test is: 0.2767 so p-value is greater than our significant value 0.05 then we don't reject H0 the null hypothesis
# Consumption of both fuels are similar

### Second hypothesis testing, cost_of_trip

In [19]:
#Our null hypothesis is that: cost per trip of sp98 and e10 is the same

ttest_ind(data[data.gas_type == 'E10'].cost_of_trip,data[data.gas_type == 'SP98'].cost_of_trip)
##############################
#IF P IS LOW, THE NULL MUST GO
##############################
#if p-value is < our significant value (0.05 or the one choose) then we reject H0
#otherwise we accept the H0 the null hyphotesis

Ttest_indResult(statistic=0.5245352608018607, pvalue=0.6002073944630295)

In [20]:
# The p-value of the test is: 0.60 so p-value is greater than our significant value 0.05 then we don't reject H0 the null hypothesis
# Cost pre trip is similar for both fuels